* {
  margin: 0;
  padding: 0;
  cursor: none;
}
*:hover {
  cursor: none;
}

:root {
  --aniLineTime: 1s;
  --aniMainTime: 2s;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgb(77, 77, 77);
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #161616;
}
html,
body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  position: relative;
  color: white;
  background-color: #232323;
  scroll-behavior: smooth;
}
.webgl {
  /* position: absolute;
  top: 0;
  left: 0; */
  outline: none;
}

.title {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.content {
  display: flex;
  gap: 5em;
  width: 100%;
  padding-top: 3em;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid white;
  transform: scaleX(0);
  transform-origin: center;
  animation: horizontalShow var(--aniLineTime) ease-out forwards;
}
h1 {
  font-size: 4rem;
  width: 50vw;
  line-height: 97%;
  text-align: right;
  animation: verticalShow var(--aniMainTime) ease-out var(--aniLineTime) forwards;
}
.title span {
  animation: verticalShow 8s ease-out 3s forwards;
}
h1,
.title span {
  flex-basis: 0;
  flex-grow: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
thin {
  font-weight: 200;
}
ascii {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 160px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
ascii .ascii {
  color: rgb(243, 243, 243);
  font-family: "Courier";
  font-size: 6pt;
  line-height: 4pt;
}
ascii .ygrr {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 2em;
}
projects {
  display: flex;
  justify-content: space-between;
  top: calc(100vh + 75vh);
  padding: 100px;
  padding-right: 120px;
  box-sizing: border-box;
}
projects canvas {
  display: none;
}
projects .right {
  font-family: "Courier";
  line-height: 12px;
  letter-spacing: 4px;
  font-size: 0.8em;
  width: fit-content;
}
projects .work {
  font-size: 2.2em;
}
projects ul {
  list-style-type: none;
  margin-top: 20px;
  width: fit-content;
}
projects ul li {
  padding: 15px;
  margin-block: 5px;
  background-color: rgba(255, 255, 255, 0.034);
  width: 100%;
  transition-duration: 250ms;
}
projects ul li:hover {
  background-color: rgba(255, 255, 255, 0.103);
  width: 120%;
}
projects ul a {
  color: white;
  text-decoration: none;
}
nav {
  position: absolute;
  /* isolation: isolate; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  padding: 20px;
  z-index: 10;
}
nav::before {
  content: "";
  position: absolute;
  width: 250%;
  aspect-ratio: 1/1;
  background-color: black;
  border-radius: 50%;
  top: 0;
  left: 0;
  translate: -50% -55%;
  z-index: -1;
}
nav a {
  color: white;
  text-decoration: none;
  transition-duration: 300ms;
}
nav a:hover {
  color: rgb(126, 255, 255);
}
nav a i {
  margin-right: 5px;
}

@keyframes verticalShow {
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@keyframes horizontalShow {
  100% {
    transform: scaleX(1);
  }
}
@media (max-width: 1100px) {
  ascii {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
  }
  projects {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 20px;
  }
  projects .right {
    display: none;
  }
}
footer {
  width: 100%;
  background-image: linear-gradient(300deg, rgba(8, 8, 8, 1) 5%, transparent 100%);
  color: white;
  padding: 20px 100px;
  height: 120px;
  box-sizing: border-box;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer img {
  width: 80px;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
  transition: scale 300ms;
}

@media (max-width: 500px) {
  .title .content {
    flex-direction: column;
    gap: 20px;
  }
  .title .content > * {
    text-align: center;
  }
  ascii {
    margin-bottom: 100px;
  }
}
@media (max-width: 600px) {
  footer {
    flex-direction: column-reverse;
    height: 21vh;
    min-height: fit-content;
    gap: 10px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 0.8rem;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 0.6rem;
  }
}
