@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

:root {
   font-family: "Source Sans Pro", sans-serif;
   /* sans-szeryf */
   /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

body {
   background-color: cyan;
}

/* *::before,
*::after {
  content: "ALAN";
} */
/*tryb dla dzioka*/
.bg {
   position: relative;
   height: 90.69vh;
   aspect-ratio: 170/240; /*zmiana aspect ratio !!!*/
   background-image: url("https://ocdn.eu/images/pulscms/YmQ7MDA_/408b55d06a1321e472fb0c7e01b9bb2d.jpg");
   background-size: cover;
   position: relative;
   display: inline-block;
}
.inputs {
   display: inline-block;
}
.wyd {
   position: absolute;
   bottom: 0;
   right: 40px;
   background: rgb(0, 5, 70);
   width: 60px;
   aspect-ratio: 1;
}
.wyd img {
   border-radius: calc("");
   width: 50px;
   margin: 5px;
   aspect-ratio: 1 / 1;
}
.content {
   position: absolute;
   left: 0;
   top: 48%;
   display: flex;
   color: white;
   width: 100%;
   height: 19%;
   background-color: rgba(0, 0, 0, 0.781);
}
.content .zakres {
   position: absolute;
   top: 100%;
   width: calc(100% - 25px);
   background-color: green;
   padding-block: 4px;
   padding-left: 25px;
   font-weight: bold;
}
.content .txt {
   width: 85%;
   display: flex;
   flex-direction: column;
}
.txt .title {
   padding: 10px 10px 5px 20px;
   font-size: 2.6em;
   font-weight: bold;
}
.sub1,
.sub2 {
   font-size: 1em;
   padding: 2px 10px 2px 20px;
}
.sub2 {
   padding-bottom: 20px;
}
.nr {
   height: 100%;
   font-size: 5em;
   display: inline-grid;
   place-items: center;
   font-weight: bold;
}
.dlaabsolwentuf {
   rotate: 715deg;
   display: grid;
   place-items: center;
   position: absolute;
   right: 25px;
   top: 25px;
   padding: 13px;
   aspect-ratio: 1 / 1;
   background-color: #d10478;
   border-radius: calc(420% + 69%);
   color: #ffffff;
}

.dlaabsolwentuf h1 {
   text-align: center;
   font-size: 14px;
}
